body{
    background-color: black;
}
h1{
    color: antiquewhite;
    display: inline;
    margin-right: 15px;
}
#testman{
    color: white;
    background-color: grey;
    border: solid 2px lightblue;
    border-radius: 4px;
    
}
#testman:hover{
    border-color: aqua;
}
#testman:active{
    background-color: cadetblue;
}
#listy{
    border-collapse: collapse;
}

#listy thead tr{
    background-color: rgb(12, 160, 106);
    color: aliceblue;

}
#listy tbody tr{
    background-color: aliceblue;
    text-align: center;
    border-bottom: solid 3px gray;
}
#listy tbody tr td:nth-child(1){
    color:red;
}
#inp{
    text-align: center;
    
}
img{
    height: 350px;
    width: 600px;
}
#blackimg{
    height: 400px;
    width: 279px;
/*  border: solid 1px blue; */
}